body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    background: url('../images/pexels-yihan-wang-2148192610-29965022.jpg') no-repeat center center/cover;
    color: white; /* Ensure text is readable */
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: -1;
}

.img-fluid {
    padding: 2.25rem;
    border-radius: 21.25rem;
    max-width: 100%;
    height: auto;
}

p{
    color: white;
    font-size: larger;
}

