{% extends "base.html" %} 
{% load static %} 
{% block content %}

<div class="my-3 mx-3">
    <a class="btn btn-success" href="/api/export">Export</a>
    <div class="card p-3 mt-3">
        <h6 class="text-center">Most Viewed Movies</h6>
        <table id="datatable" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Rating</th>
                    <th>Votes</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data will be populated via JavaScript -->
            </tbody>
        </table>                
    </div>
</div>

{% block scripts %}
    <!-- jQuery (Required for DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- Your Custom Script -->
    <script src="{% static 'js/movies.js' %}"></script>
{% endblock scripts %}

{% endblock content %}
