{% autoescape off %}

Hi {{ user.first_name }},

Thank you for shopping with us! 

We’re excited to let you know that we’ve received your order, and our team is already working on getting it ready for you.  

🛒 Order Details 
Order Number: {{ order.order_number }} 
Order Date: {{ order.created_at|date:"F d, Y" }}
Payment Status: {{ order.payment.status }}  

You can track your order status anytime by visiting your account.  

If you have any questions, feel free to reach out to our support team at support@ayubuy.com.  

Happy Shopping! 🛍️  
The Ayubuy Team  

{% endautoescape %}
